<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <fera_ai>
            <general>
                <enabled>1</enabled>
                <debug_mode>0</debug_mode>
            </general>
            <fera_ai_group>
                <app_url>https://app.fera.ai/</app_url>
                <api_url>https://app.fera.ai/api/</api_url>
                <js_url>https://cdn.fera.ai/js/v3/fera.js</js_url>
            </fera_ai_group>
        </fera_ai>
    </default>
</config>
